<div class="container">

    <div class="row">
        <h1 class="display-3">pls log in</h1>
    </div>

    <form id ="loginForm" class="form col-xs-offset-2" role="form" ng-submit="vm.onComplete()">

        <div class="form-group row">
            <label for="user-name" class="col-form-label">Username or email</label>
        </div>

        <div class="form-group row">
            <input class="form-control" type="text" id="user-name" ng-model="credentials.username">
        </div>

        <div class="form-group row">
            <label for="password" class="col-xs-2 col-form-label">Password</label>
        </div>

        <div class="form-group row">
            <input class="form-control" type="password" id="password" ng-model="credentials.password">
        </div>

    <pre ng-show="error">{{error}}</pre>

    <div class="form-group row">
        <button type="submit" class="btn btn-success btn-lg" id="btn_login">Go!</button>
    </div>

    </form>

    <p><a class="btn btn-primary btn-lg" href="register" role="button">Register</a></p>
</div>