@(userForm: Form[User])(implicit flash: Flash)

@import helper._

@main(Messages("register")){

<h2>@Messages("register")</h2>

@helper.form(action = routes.Registration.save()) {
<fieldset>
    @helper.inputText(userForm("email"), '_label -> Messages("mail"), '_showConstraints -> false)
    @helper.inputText(userForm("nick"), '_label -> Messages("nick"), '_showConstraints -> false)
    @helper.inputPassword(userForm("password"), '_label -> Messages("password"), '_showConstraints -> false)
    @helper.inputPassword(userForm("password"), '_label -> Messages("password"), '_showConstraints -> false)
</fieldset>
<p><input type="submit" class="btn primary"
          value='@Messages("register")'></p>
}
}